.pdfUS,
.pdfA4 {
  display: block;
  width: 100%;
  border: none;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);
  border-radius: (--radius);
}

.pdfUS {
  aspect-ratio: 8.5 / 11;
}

.pdfA4 {
  aspect-ratio: 827 / 1169;
}
